.add-location {
  grid-column: 1 / -1;
  border-radius: 50px;
  display: grid;
  grid-template-rows: minmax(min-content, 10rem) min-content;
  align-items: center;
  justify-items: center;
  @media only screen and (max-width: $bp-large) {
    justify-items: stretch;
    margin: 2rem;
  }
  &__search {
    position: relative;
  }
  &__input {
    width: 100%;
    font-family: inherit;
    font-size: 1.4rem;
    color: inherit;
    border: none;
    border-radius: 10px;
    padding: 1rem;
    &:focus {
      outline: none;
    }
  }
  &__icon {
    position: absolute;
    right: 1rem;
    top: 1.5rem;
    font-size: initial;
  }
}
.search-result {
  cursor: pointer;
  position: absolute;
  z-index: 10;
  background-color: $color-white;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border-radius: 10px;
  padding: 1rem;
  &__individual {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
    &:not(:last-child) {
      border-bottom: 1px solid;
    }
  }
}
