// COLOR VARIABLES
$color-primary: #b2ebf2;

$color-secondary: #d9ecf2;

$color-white: #f9fcfb;

$color-yellow: #ffbd50;

$font-color: #333866;

$font-color-light: #564a4a;
// FONT VARIABLES
$font-primary: "Poppins", sans-serif;

//MEDIA QUERIES
$bp-largest: 68.75em; //1100px
$bp-large: 62.5em; //1000px
$bp-medium: 56.25em; //900px
$bp-small: 37.5em; //600px

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; //1 rem = 10px

  @media only screen and (max-width: $bp-largest) {
    font-size: 60%; //1rem = 9.6px
  }
  @media only screen and (max-width: $bp-large) {
    font-size: 53%; //1rem = 8px
  }
}
body {
  font-family: $font-primary;
  color: $font-color;
  font-weight: 300;
  background-color: $color-primary;
}
a:link,
a:visited {
  text-decoration: none;
}
.container {
  max-width: 80vw;
  margin: 8rem auto;
  box-shadow: 0 2rem 6rem rgba($color: black, $alpha: 0.2);
  background-color: $color-white;
  border-radius: 50px;
  overflow: hidden;
  display: flex;
  min-height: 57rem;
  @media only screen and (max-width: 900px) {
    max-width: 92vw;
    margin: 2rem auto;
    flex-direction: column;
    padding: 1rem;
  }
}
.active > * {
  background-color: $color-secondary;
}
