.highlights {
  border: 2rem solid $color-white;
  border-radius: 50px;
  background-color: $color-secondary;
  flex: 1;
  padding: 3rem 3rem 1rem;
  &__info {
    margin-top: 2rem;
    display: grid;
    grid-gap: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(18.2rem, min-content));
    grid-template-rows: repeat(auto-fit, minmax(15rem, max-content));
  }
  &__tile {
    border-radius: 30px;
    padding: 2rem;
    background-color: $color-white;
    max-width: 14rem;
    &--heading {
      color: $font-color-light;
      font-size: 1.7rem;
    }
    &--data {
      line-height: 1;
      display: flex;
      align-items: flex-end;
      color: $font-color;
      font-size: 2rem;
      margin-top: 1.3rem;
      margin-bottom: 1.3rem;
    }
    &--unit {
      font-size: 2rem;
      margin-bottom: 0.8rem;
      margin-left: 0.4rem;
    }
    &--comment {
      font-weight: 100;
      font-size: 1.3rem;
    }
    &--delete {
      font-size: 1.3rem;
    }
  }
}
