.highlights {
  border: 2rem solid $color-white;
  border-radius: 50px;
  background-color: $color-secondary;
  flex-grow: 1;
  padding: 3rem;
  @media only screen and (max-width: 900px) {
    order: 2;
  }
  &__info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    grid-gap: 3rem;
    align-items: start;
    margin-top: 2rem;
    justify-content: center;
    @media only screen and (max-width: $bp-medium) {
      grid-template-columns: repeat(auto-fit, minmax(10%, 44%));
    }
  }
  &__tile {
    border-radius: 30px;
    padding: 2rem;
    background-color: $color-white;
    max-width: 14rem;
    min-height: 14rem;
    &--heading {
      color: $font-color-light;
      font-size: 1.2rem;
    }
    &--data {
      line-height: 1;
      display: flex;
      align-items: flex-end;
      color: $font-color;
      font-size: 2rem;
      margin-top: 1.3rem;
      margin-bottom: 1.3rem;
    }
    &--unit {
      font-size: 1.6rem;
      margin-bottom: 0.8rem;
      margin-left: 0.4rem;
    }
    &--comment {
      font-weight: 100;
      font-size: 1.3rem;
    }
    &--delete {
      font-size: 1.3rem;
    }
  }
}
