.sidebar {
  flex: 0 0 10%;
  padding: 3rem;

  display: flex;
  flex-direction: column;
  @media only screen and (max-width: 900px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    display: flex;
    align-items: center;
    &__img {
      height: 7.5rem;
    }
    &__text {
      margin-left: 1rem;
      font-size: 2rem;
    }
  }
  .menu {
    margin-top: 10rem;
    @media only screen and (max-width: 900px) {
      margin-top: 0;
      visibility: hidden;
    }
    &__item {
      display: flex;
      align-items: center;
      font-size: 1.2rem;
      padding: 1rem;
      border-radius: 20px;
      &--icon {
        margin-right: 1rem;
        padding: 0.4rem;
        border-radius: 5px;
        background-color: $color-white;
      }
    }
  }
}
.active > * {
  background-color: $color-secondary;
}
