.sidebar{
    flex: 0 0 10%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .logo{
        display: flex;
        align-items: center;
        &__img{
            height: 7.5rem;
        }
        &__text{
            margin-left: 1rem;
            font-size: 2rem;
        }
    }
    .logout{
        display: flex;
        align-items: center;
        color: $font-color-light;
        &__icon{
            margin-left: 1rem;
            font-size: 1.5rem;
        }
    }
}