*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Poppins", sans-serif;
  color: #333866;
  font-weight: 300;
  background-color: #b2ebf2; }

a:link,
a:visited {
  text-decoration: none; }

.container {
  max-width: 100rem;
  margin: 8rem auto;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.2);
  background-color: #f9fcfb;
  border-radius: 50px;
  overflow: hidden;
  display: flex;
  min-height: 57rem; }

.active > * {
  background-color: #d9ecf2; }

.sidebar {
  flex: 0 0 10%;
  padding: 3rem;
  display: flex;
  flex-direction: column; }
  .sidebar .logo {
    display: flex;
    align-items: center; }
    .sidebar .logo__img {
      height: 7.5rem; }
    .sidebar .logo__text {
      margin-left: 1rem;
      font-size: 2rem; }
  .sidebar .menu {
    margin-top: 10rem; }
    .sidebar .menu__item {
      display: flex;
      align-items: center;
      font-size: 1.2rem;
      padding: 1rem;
      border-radius: 20px; }
      .sidebar .menu__item--icon {
        margin-right: 1rem;
        padding: 0.4rem;
        border-radius: 5px;
        background-color: #f9fcfb; }

.active > * {
  background-color: #d9ecf2; }

.highlights {
  border: 2rem solid #f9fcfb;
  border-radius: 50px;
  background-color: #d9ecf2;
  flex: 1;
  padding: 3rem 3rem 1rem; }
  .highlights__info {
    margin-top: 2rem;
    display: grid;
    grid-gap: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(18.2rem, min-content));
    grid-template-rows: repeat(auto-fit, minmax(15rem, max-content)); }
    .highlights__info > * {
      border-radius: 30px;
      padding: 2rem;
      background-color: #f9fcfb; }
  .highlights__tile--heading {
    color: #dfddc7;
    font-size: 1.7rem; }
  .highlights__tile--data {
    line-height: 1;
    display: flex;
    align-items: flex-end;
    color: #333866;
    font-size: 2rem;
    margin-top: 1.3rem;
    margin-bottom: 1.3rem; }
  .highlights__tile--unit {
    font-size: 2rem;
    margin-bottom: .8rem;
    margin-left: .4rem; }
  .highlights__tile--comment {
    font-weight: 100;
    font-size: 1.3rem; }

.circle {
  height: 3rem;
  width: 3rem;
  text-align: center;
  border-radius: 50%;
  background-image: linear-gradient(to right bottom, rgba(255, 189, 80, 0.6), #ffbd50);
  font-size: 2rem;
  color: white;
  margin-right: 2rem; }

.user-profile {
  flex: 0 0 25%;
  display: grid;
  grid-template-columns: repeat(3, minmax(5rem, max-content));
  grid-template-rows: 10rem 5rem min-content min-content;
  padding: 2rem; }
  .user-profile .location {
    grid-column: 1 / 3;
    align-self: end; }
  .user-profile .date {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    color: #dfddc7; }
  .user-profile .today {
    grid-column: 1 / -1;
    justify-self: center;
    margin-bottom: 1rem; }
  .user-profile .temperature {
    grid-column: 1 / -1;
    display: flex;
    align-items: center; }
    .user-profile .temperature__img {
      width: 50%; }
    .user-profile .temperature__value {
      font-size: 4.5rem; }
    .user-profile .temperature__unit {
      align-self: flex-start;
      margin-top: 0.4rem;
      font-size: 1.2rem; }
  .user-profile .forecast-hour {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem; }

.add-location {
  flex-grow: 1;
  background-color: #d9ecf2;
  border: 3rem solid #f9fcfb;
  border-radius: 50px;
  padding: 4rem;
  display: grid;
  grid-template-rows: min-content repeat(3, 8rem);
  align-items: center;
  justify-items: center; }
  .add-location__search {
    width: 80%;
    position: relative; }
  .add-location__input {
    width: 100%;
    font-family: inherit;
    font-size: 1.9rem;
    color: inherit;
    border: none;
    border-radius: 10px;
    padding: 1rem; }
    .add-location__input:focus {
      outline: none; }
  .add-location__icon {
    position: absolute;
    right: 1rem;
    top: 1.5rem;
    font-size: initial; }

.search-result {
  position: absolute;
  z-index: 10;
  background-color: #f9fcfb;
  width: 100%;
  font-family: inherit;
  font-size: 1.9rem;
  color: inherit;
  border-radius: 10px;
  padding: 1rem; }
  .search-result__individual:not(:last-child) {
    border-bottom: 1px solid; }
